.App {
  height: 100%;
  width: 100%;
  
}

:root{
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p{
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  
}

ul,
li{
  margin: 0;
  padding: 0;
}

img{
  display: block;
  width: 100%;
}

/* ------------------------------------------------------------------------------------- */
/* SideBar */
/* ------------------------------------------------------------------------------------- */

.side-nav-open{
  left:0;
}

.side-nav-closed{
  left:-100%;
}

.side-nav-overlay{
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: hsla(0, 0%, 0%, 0.75);
}

#nav-open{
  display: block;
}

.side-nav{
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 70%;
  background-color: white;
  transition: left 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.side-nav button{
  border: none;
  background-color: transparent;
  font-size: 1.3em;
  color: black;
  font-weight: 700;
}

.side-nav ul > li:first-child button{
  font-size: 2em;
  color: grey;
}

.side-nav ul > li:first-child button:hover{
  color: black;
}

.side-nav ul{
  list-style: none;
}

.side-nav li {
  margin: 1em  1em;
}


/* ------------------------------------------------------------------------------------- */
/* NavBar */
/* ------------------------------------------------------------------------------------- */

.nav-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-bar{
  width: 100%;
  
}

.menu-logo{
  height: 100%;
  
}

.menu-logo h1{
  /* font-family: 'Mulish', sans-serif; */
  margin-left: 20px;
  text-transform: lowercase;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: -1px;
  padding: 0.6em 0;
}


.menu{
  margin-left: 1em;
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
  align-self: center;
  cursor: pointer;
}

.cart-avatar > *{
  margin: 0 1em;
}

.cart{
  width: 30px;
}

.avatar{
  cursor: pointer;
  width: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  transition: border 0.2s ease-in;
}

.avatar:hover,
.avatar:focus{
  border: 3px solid var(--Orange);
}

#nav-links{
  display: none;
}

.cart-icon{
  position: relative;
}

#cart-filled{
  opacity: 1;
}

.cart-icon span{
  font-size: 10px;
  font-weight: 700;
  opacity: 0;
  position: absolute;
  color: white;
  background-color: var(--Orange);
  top: 0px;
  right: -10px;
  transition: opacity 0.2s ease-in;
  padding: 0px 8px;
  border-radius: 500px;
}

.cart-icon:hover path{
  fill: black;
  
}

.cart-container > button{
  border: none;
  background-color: transparent;
}
/* ------------------------------------------------------------------------------------- */
/* Cart Modal */
/* ------------------------------------------------------------------------------------- */
.cart-modal{
  
  display: none;
  position: absolute;
  border-radius: 10px;
  background: white;
  width: 80%;
  max-width: 400px;
  top: 6em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  box-shadow: 0px 15px 10px 10px hsla(0,0%,0%, 0.3 );
}

#cart-modal-open{
  display: block;
}

.cart-modal-header{
  border-bottom: 1px solid var(--Grayish-blue);
}

.cart-modal-header p{
  margin: 1.2em;
  font-weight: 700;
}

.cart-filled button{
  border: none;
  background-color: transparent;
}

.cart-filled img{
  height: 50px;
  width: auto;
  border-radius: 3px;
}

.cart-filled{
  width: 100%;
}

.cart-filled p{
  margin: auto 0;
  color: var(--Grayish-blue);
}

.cart-filled > *{
  margin: auto 0.5em;
}

.cart-filled span{
  display: block;
}

.cart-filled b{
  color: black;
}

.cart-empty{
  height: 100px;
  width: 100%;
  color: var(--Grayish-blue);
  font-weight: 700;
}

.delete-btn{
  background: none;
  border: none;
}

.delete-btn use{
  
  transition: fill 0.2s ease-in;
}

.delete-btn:hover use,
.delete-btn:focus use{
  fill: black;
}

.checkout-btn{
  margin-top: 1em;
  width: 100%;
  display: block;
  border: none;
  background: var(--Orange);
  color: white;
  border-radius: 10px;
  font-weight: 700;
  transition: background 0.2s ease-in;
}

.checkout-btn:hover,
.checkout-btn:focus{
  background: hsl(26, 100%, 65%);
}

@media (min-width: 1340px) {
  .cart-container{
    position: relative;
  }

  .cart-modal{
    width: 350px;
    top: 4em;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* ------------------------------------------------------------------------------------- */
/* Page Body */
/* ------------------------------------------------------------------------------------- */
.page-container{
  max-width: 1200px;
}

.page-body{
  flex-flow: column nowrap;
}

@media (min-width: 1000px) {
  .page-body{
    flex-flow: row nowrap;
    
    align-items: center;
    padding: 2em;
  }

  .page-body > *{
    margin: 0 2em;
  }


}
/* ------------------------------------------------------------------------------------- */
/* LightBox */
/* ------------------------------------------------------------------------------------- */

.lightbox{
  position: relative;
  height: 375px;
  overflow: hidden;
  width: 100%;
  
}

.lightbox img{
  height: 100%;
  object-fit: cover;
  object-position: 50% 40%;
  
}

.lightbox .next{
  position: absolute;
  right: 5%;
  top: 50%;
}

.lightbox .previous{
  position: absolute;
  left: 5%;
  top: 50%;
}

.lightbox button{
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s ease,
              opacity 0.2s ease-in;
  opacity: 0;
}

.lightbox:hover button{
  opacity: 1;
}

.lightbox button > *{
  
  width: max-content;
}

.lightbox button:hover{
  background-color: white;
}

.lightbox button path{
  stroke: currentColor;
  transition: stroke 0.2s ease;
}

.lightbox button:hover path{
  stroke: var(--Orange);
}

@media (min-width: 700px) {
  .lightbox{
    height: 100%;
  }
}

/* ------------------------------------------------------------------------------------- */
/* Description */
/* ------------------------------------------------------------------------------------- */

.product-description > *{
  margin:0.5em 0;
}

.product-description{
  width: 100%;
  max-width: 1000px;
}

.product-description h1{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: var(--Orange);
  letter-spacing: 1px;
}

.product-description h2{
  font-weight: 700;
  font-size: 2em;
}

.product-description p{
  color: var(--Dark-grayish-blue);
}

/* ------------------------------------------------------------------------------------- */
/* Price styling */
/* ------------------------------------------------------------------------------------- */

#price-actual{
  color: black;
  font-size: 1.5em;
  font-weight: 700;
}

#discount{
  margin-left: 1em;
  background-color: var(--Pale-orange);
  color: var(--Orange);
  border-radius: 5px;
  font-weight: 700;
}

#price-msrp{
  color: var(--Grayish-blue);
  text-decoration: line-through;
}

/* ------------------------------------------------------------------------------------- */
/* Add Cart styling */
/* ------------------------------------------------------------------------------------- */

.add-cart{
  width: 100%;
  flex-direction: column;
  padding: 0 1em;
}

.add-cart > *{
  margin: 0.6em 0; 
}

.input{
  width: 100%;
  flex-flow: row nowrap;
  background: var(--Light-grayish-blue);
  border-radius: 10px;
  
}

.input input{
  width: auto;
  text-align: center;
  outline: none;
  border: none;
  background: transparent;
}

.input button{
  
  min-height: 2em;
  cursor: pointer;
  
  border: none;
  background: transparent;
  
  
}

.input button svg{
  transform: scale(1.4);
}

.input button use{
  fill: var(--Orange);
  transition: fill 0.2s ease-in,
              transform 0.2s ease-in;
}

.input button:hover use{
  fill: hsl(26, 100%, 65%);
}

.input > * > button{
 width: 100%;
}

#quantity{
  width: 100%;
  font-size: 20px;
  font-weight: 700;
}

.cart-btn{
  display: block;
  border: none;
  background: var(--Orange);
  color: white;
  border-radius: 10px;
  margin-bottom: 6em;
  font-weight: 700;
  transition: 0.2s ease-in;
}

.cart-btn:hover,
.cart-btn:focus{
  background: hsl(26, 100%, 65%);
}

.cart-btn img{
  display: inline-block;
  width: 20px;
  color: white;
}

.cart-btn-icon{
  margin-right: 10px;
}

.cart-btn-icon path{
  fill: white;
}

@media (min-width: 1000px) {
  .add-cart{
    padding: 0;
    flex-direction: row;
    align-items: center;
    
  }

  .add-cart > *{
    margin: 0 0.3em;
  }
  .cart-btn{
    width: 100%;
    
    
  }

  .input{
    width:200px;
  }
}

@media (min-width: 700px) {

  .nav-bar{
    border-bottom: 2px solid var(--Light-grayish-blue);
    margin-bottom: 3em;
  }
  .menu{
    display: none;
  }

  #nav-links{
    display: flex;
    align-items: center;
    
    list-style: none;
    margin: 0;
  }

  #nav-links ul{
    list-style: none;
  }

  #nav-links li{

    margin: 0 0.3em;
    height: 100%;
    display: inline;
    border-bottom: 5px solid transparent;
    transition: border-bottom 0.2s ease;
  }

  #nav-links button{
    border: none;
    background: transparent;
    color: var(--Grayish-blue);
    height: 100%;
    transition: color 0.2s ease;
  }

  #nav-links button:hover,
  #nav-links button:focus{
    color: black;
  }

  #nav-links li:hover{
    border-bottom: 5px solid var(--Orange);
  }
  
}