.App {
  height: 100%;
  width: 100%;
}

:root{
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p{
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  
}

ul,
li{
  margin: 0;
  padding: 0;
}

img{
  display: block;
  width: 100%;
}

.outline{
  outline: 1px solid red;
}


/* ------------------------------------------------------------------------------------- */
/* NavBar */
/* ------------------------------------------------------------------------------------- */

.navbar{
  width: 100%;
}
.menu-logo h1{
  /* font-family: 'Mulish', sans-serif; */
  margin-left: 20px;
  text-transform: lowercase;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: -1px;
 
}

.side-nav-overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: hsla(0, 0%, 0%, 0.75);
  transform: translateX(0);
  transition: transform 0.2s ease-in;
}

.side-nav{
  z-index: 999;
  position: fixed;
  left:0;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  background-color: white;
}

.side-nav button{
  border: none;
  background-color: transparent;
  font-size: 2em;
}

.side-nav ul{
  list-style: none;
}

.menu{
  margin-left: 1em;
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
}

.cart-avatar > *{
  margin: 0 1em;
}

.cart{
  width: 30px;
}

.avatar{
  width: 30px;
}

.nav-links{
  display: none;
}

/* ------------------------------------------------------------------------------------- */
/* Description */
/* ------------------------------------------------------------------------------------- */

.product-description > *{
  margin:0.5em 0;
}

.product-description{
  width: 100%;
}

.product-description h1{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: var(--Orange);
  letter-spacing: 1px;
}

.product-description h2{
  font-weight: 700;
  font-size: 2em;
}

.product-description p{
  color: var(--Dark-grayish-blue);
}

/* ------------------------------------------------------------------------------------- */
/* Price styling */
/* ------------------------------------------------------------------------------------- */

#price-actual{
  color: black;
  font-size: 1.5em;
  font-weight: 700;
}

#discount{
  margin-left: 1em;
  background-color: var(--Pale-orange);
  color: var(--Orange);
  border-radius: 5px;
  font-weight: 700;
}

#price-msrp{
  color: var(--Grayish-blue);
  text-decoration: line-through;
}

/* ------------------------------------------------------------------------------------- */
/* Add Cart styling */
/* ------------------------------------------------------------------------------------- */

.add-cart{
  width: 100%;
}

.add-cart > *{
  margin: 0.6em 0; 
}

.input{
  width: 100%;
  flex-flow: row nowrap;
  background: var(--Light-grayish-blue);
}

.input input{
  text-align: center;
  outline: none;
  border: none;
  background: var(--Light-grayish-blue);
}

.input img{
  cursor: pointer;
  width: 1em;
  height: 1em;
}

.input > *:first-child{
  height: 5px;
}

#quantity{
  
  font-size: 20px;
  font-weight: 700;
}

.cart-btn{
  border: none;
  background: var(--Orange);
  color: white;
  border-radius: 10px;
  margin-bottom: 6em;
}

.cart-btn img{
  display: inline-block;
  width: 20px;
  color: white;
}